<!DOCTYPE html>
<html>
<head>
    <title>Daskboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pretty.css') }}">
</head>
<body>
    <input class="dark-light" type="checkbox" id="dark-light" name="dark-light"/>
    <label for="dark-light"></label>

    <div class="light-back"></div> 

    <a href="https://front.codes/" class="logo" target="_blank"></a>

    <div class="sec-center"> 	
        <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
        <label class="for-dropdown" for="dropdown">Dropdown Menu <i class="uil uil-arrow-down"></i></label>
        <div class="section-dropdown"> 
            <a href="{{ url_for('todo') }}">TODO <i class="uil uil-arrow-right"></i></a>
            <a href="login_register.html">Login page <i class="uil uil-arrow-right"></i></a>
        </div>
    </div>
</body>
</html>
