<!DOCTYPE html>
<html>
<head>
    <title>AggieBot</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<script>
    function press_login(event) {
        event.preventDefault();
        var form = document.getElementById("login");
        var username = form.getElementsByTagName("input")[0].value;
        var password = form.getElementsByTagName("input")[1].value;
        console.log(username);
        console.log(password);
        fetch('/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                user_id: username,
                password: password
            })
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            } else {
                return response.json();
            }
        })
        .then(data => {
            if (data && !data.success) {
                alert(data.message);
            }
        })
        .catch(error => console.error('Error:', error));
}
</script>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
            <form id="login" class="input-group">
                <input type="text" class="input-field" placeholder="User Id" required>
                <input type="text" class="input-field" placeholder="Enter Password" required>
                <input type="checkbox" class="check-box" placeholder="check-box"> <span>Remember Password</span>
                <button class="submit-btn" onclick="press_login(event)">Log In</button>
            </form>
            <form id="register" class="input-group" method="POST">
                <input type="text" class="input-field" placeholder="User Id" required>
                <input type="email" class="input-field" placeholder="Enter email" required>
                <input type="text" class="input-field" placeholder="Enter Password" required>
                <input type="checkbox" class="check-box" placeholder="check-box"> <span>I agree to the terms & conditions</span>
                <button type="submit" class="submit-btn">Register</button>
            </form>
            </form>
        </div>
        <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");

            function register() {
                x.style.left = "-450px";
                y.style.left = "50px";
                z.style.left = "110px";
            }

            function login() {
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0px";
            }
            
            
            </script>

                
    
</body>
</html>
